<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>manbib {{ if .Query }} - {{ .Query }} {{ end }}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <header>
        <a href="/">Home</a>
        <form action="/search" method="GET">
          <input
            class="query"
            value="{{if .Query }}{{ .Query }}{{ end }}"
            placeholder="man page search"
            type="search"
            name="q"
          />
        </form>
      </header>
      <div class="welcome">
        {{ if .Total }}
        <h3>Random man-page:</h3>
        <div class="page-container">
          <div class="page">
            <h3><a href="/page?p={{ .Page.Name }}">{{ .Page.Name }}</a></h3>
            <small>{{ .Page.Path }}</small>
          </div>
        </div>
        <div><i>Indexed {{ .Total }} man pages.</i></div>
        {{ end }}
      </div>
      <div>
        {{ if .Query}}
        <p>
          {{.ResultAmount}} results for <b>{{.Query}}</b>, took: {{.Latency}}
        </p>
        <div class="page-container">
          {{ range.Rows }}
          <div class="page">
            <h3><a href="/page?p={{ .Name }}">{{ .Name }}</a></h3>
            <small>{{ .Path }}</small>
            <small>last updated: {{ .LastUpdated }}</small>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </main>
  </body>
</html>
