:root {
  --bg: #080808;
  --bg-sec: #323437;
  --fg: #b2b2b2;
  --p: #74b2ff;
  --p-sec: #80a0ff;
  --highlight: #ffe0e0;
  --gray: #e4e4e4;
  --txt: #fff;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --fg: #080808;
    --bg-sec: #e4e4e4;
    --txt: #080808;
    --gray: #323437;
  }
}
body {
  background: var(--bg);
  color: var(--fg);
  font-family: sans-serif;
}
input {
  background: var(--bg-sec);
  margin-left: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: var(--txt);
}
* {
  box-sizing: border-box;
}
main {
  margin: 2rem 2rem;
}
a {
  color: var(--p);
  text-decoration: none;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
a:visited {
  color: var(--p-sec);
}
a:hover {
  background-color: var(--highlight);
  color: red;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  border: 1px solid var(--bg-sec);
  padding: 0.5rem;
  margin: 0.5rem;
}
.page h3 {
  color: var(--txt);
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.welcome {
  margin-top: 2rem;
}
.welcome h3 {
  margin: 0;
}
.page-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#TOC ul {
  list-style: none;
}
#TOC > ul {
  padding-left: 0;
}
.page-preview pre {
  padding: 0.25rem;
  background-color: var(--bg-sec);
}
.page-preview-container .title {
  text-align: center;
}
.page-preview h1 {
  color: var(--p);
}
.page-preview em {
  background-color: var(--bg-sec);
  color: var(--txt);
}
.card {
  border-radius: 0.25rem;
  border: 1px solid var(--bg-sec);
  padding: 2rem;
  margin: 1rem;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
}
footer {
  margin-top: 2rem;
}
